
.fileList {
    li {
        float: left;
        margin-right: 5px;
        position: relative;
        .masterCert {
            position: absolute;
            background-color: rgba(255, 0, 0, .8);
            color: #fff;
            font-style: normal;
            padding: 0px 5px;
            line-height: 18px;
        }
    }
}